/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  font-family: "Hind Siliguri", sans-serif;
  color: gray;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-bottom: 4rem;
}

.white_text {
  color: white
}

.hind-siliguri-light {
  font-family: "Hind Siliguri", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.hind-siliguri-regular {
  font-family: "Hind Siliguri", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.hind-siliguri-medium {
  font-family: "Hind Siliguri", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.hind-siliguri-semibold {
  font-family: "Hind Siliguri", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.hind-siliguri-bold {
  font-family: "Hind Siliguri", sans-serif;
  font-weight: 700;
  font-style: normal;
}


/******************************************
/* LAYOUT
/*******************************************/
nav {
 background-color: black;
 color: white;
}

li {
 list-style: none;
 text-decoration: none;
 border-left: solid .5px gray;
 border-right: solid .5px gray;
 padding: 1rem 1rem .5rem 1rem;
 margin: 0 2rem 1rem .5rem 1rem;
}

.flex {
  display: flex;
}

.justify {
  justify-items: center;
}

a {
  text-decoration: none;
  list-style: none;
  color: white;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/

.left_flare_red {
  border-left: solid 3px red;
}

.left_flare_blue {
  border-left: solid 3px rgb(86, 173, 255);
}

.isrealUAE {
  background-image: url("/assets/isrealUAE.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 1rem;
  padding: 16rem 2rem 2rem 2rem;
  text-shadow: 1px 1px 0 black;
  color: rgb(255, 255, 255);
}

.productive {
  background-image: url("/assets/productive.png");
  background-repeat: no-repeat;
}

.martyr {
  background-image: url("/assets/martyr.png");
  background-repeat: no-repeat;
}

.canada {
  background-image: url("/assets/canada.png");
  background-repeat: no-repeat;
}

.vaccine {
  background-image: url("/assets/vaccine.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.quad {
  color: rgb(255, 255, 255);
  padding: 5rem 1rem 0 1rem;
  height: 12rem;
  width: 20rem;
  text-shadow: 1px 1px 0 black;
}

.margin_b_sm {
  margin-bottom: 2rem;
}

.block {
  display: block;
}

.thirty {
  width: 30%;
}