/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  font-family: "Hind Siliguri", sans-serif;
  color: gray
}

.white_text {
  color: white
}

.hind-siliguri-light {
  font-family: "Hind Siliguri", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.hind-siliguri-regular {
  font-family: "Hind Siliguri", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.hind-siliguri-medium {
  font-family: "Hind Siliguri", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.hind-siliguri-semibold {
  font-family: "Hind Siliguri", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.hind-siliguri-bold {
  font-family: "Hind Siliguri", sans-serif;
  font-weight: 700;
  font-style: normal;
}


/******************************************
/* LAYOUT
/*******************************************/
nav {
 background-color: black;
 color: white;
}

li {
 list-style: none;
 text-decoration: none;
 color: white;
}

.flex {
  display: flex;
}

.justify {
  justify-items: center;
}

a {
  text-decoration: none;
  list-style: none;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
